<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('관리자 페이지')}"></head>
<script src="/summernote-0.8.18-dist/summernote-lite.min.js"></script>
<script src="/summernote-0.8.18-dist/lang/summernote-ko-KR.min.js"></script>
<link rel="stylesheet" th:href="@{/summernote-0.8.18-dist/summernote-lite.min.css}"/>
<style>
	.manager{
		margin-top: 170px;
	}
	
</style>

<script>
	
</script>

<body>

	
	<div th:replace="~{layout/header::gnb}"></div>
	
	<div class="manager">
		<h1>공지사항 편집</h1>
		<form th:action="@{/manager/modify.do}" method="post" id="frmAddQna">
			<div>
				<label for="title"></label>제목
				<input type="text" name="title" id="title" th:value="${anmDTO.title}">
			</div>
			
			<div><label for="content">내용</label>
	           	<textarea id="anmContent" name="anmContent" th:text="${anmDTO.anmContent}"></textarea> <!-- summernote 편집기로 바뀌는 textarea -->
			</div>
			<input type="hidden" th:value="${anmDTO.anmNo}" name="anmNo">
			<button>편집완료</button>
			<input type="button" value="뒤로가기" onclick="fnBack()">
		</form>
	</div>

  	
  	<script>
  		
  	 $('#anmContent').summernote({
 	  width: 1280,
      height: 1024,
      lang: 'ko-KR',
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontname', ['fontname']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
         ],
         callbacks: {
        	  onImageUpload: function(files){            // summernote 편집기에 이미지를 올리면 해당 이미지의 정보는 함수(function)의 매개변수 files(배열)로 전달된다.
        		  for(let i = 0; i < files.length; i++){   // files 배열을 순회하며서 이미지를 하나씩 처리한다.
        			  var formData = new FormData();         // formData 객체 가상 form (주로 ajax 처리에서 사용)
        			  formData.append('file', files[i]);     // 가상 form에 추가한 요소
        			  $.ajax({                               // 가상 form에 저장된 이미지를 HDD에 저장하고 저장된 경로(매핑)와 이름을 받아오는 ajax
        				  contentType: false,                  // ajax을 이용한 파일 첨부에서 사용해야 되는 두 가지 속성
        				  processData: false,                  // ajax을 이용한 파일 첨부에서 사용해야 되는 두 가지 속성     
        				  type: 'post',
        				  url: '/manager/imageUpload.do',
        				  data: formData,
        				  dataType: 'json',
        				  success: function(resData){           // resData = {"src": "/app13/imageLoad/abcdefg.jag"}
        					  $('#anmContent').summernote('insertImage', resData.src);  // content에 <img src="/app13/imageLoad/abcdefg.jpg"> 태그가 추가된다.
        				  }                                                        // content에 추가된 img 태그의 src 속성 값은 servlet-context.xml의 resources 태그에 의해서 /storage/summernote/abcdefg.jpg로 처리된다.
        			  }) // ajax
        		  } // for
        	  } // onImageUpload
         } // callbacks
      }) 
		
	  	function fnBack(){
			history.back();
		}
  	
  	</script>

</body>
</html>