<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('관리자 페이지')}"></head>
<style>
	.manager{
		margin-top: 170px;
	}

	.wrap {
		text-align: center;
	}
	
	#QnaList{
		text-align: left;
	}
	
	
</style>
<body>

	
	<div th:replace="~{layout/header::gnb}"></div>
	
	<div class="wrap">
		<a th:href="@{/manager/QnA.do}">1:1문의</a>
		<br>
		<a th:href="@{/manager/addBook.html}">책 등록</a>
		<br>
		<a th:href="@{/manager/anmt.do}">공지사항</a>
	</div>

  	
  	<script>
  	
	  	
  	
  	</script>

</body>
</html>