<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('관리자 페이지')}"></head>
<style>
	.manager{
		margin-top: 170px;
	}

	.wrap {
		text-align: center;
	}
	
	.qna{
		text-align: left;
	}
	
	.blind{
		display: none;		/* 완전히 화면에서 없애버린다. */
	}
	
	.pagination{
		letter-spacing: 8px;
	}
	
	
</style>

<script th:inline="javascript">

	$(function(){
		console.log()
	  	// 원글 달기 결과 메시지
	    let addResult = /*[[${addResult}]]*/ null;  // addResult가 전달되지 않는 경우 null을 사용한다.
	    if(addResult !== null){
	      if(addResult === 2) {
	        alert('문의가 달렸습니다.');
	      } else {
	        alert('문의 달기에 실패했습니다.');
	      }
	    }
		
	 	// 게시글 삭제 결과 메시지
	    let removeResult = /*[[${removeResult}]]*/ null;  // removeResult가 전달되지 않는 경우 null을 사용한다.
	    if(removeResult !== null){
	      if(removeResult === 1) {
	        alert('문의가 삭제되었습니다.');
	      } else {
	        alert('문의 삭제가 실패했습니다.');
	      }
	    }
		
	 	// 답글 달기 결과 메시지
	    let updateResult = /*[[${updateResult}]]*/ null;  // addReplyResult가 전달되지 않는 경우 null을 사용한다.
	    if(updateResult !== null){
	      if(updateResult === 1) {
	        alert('답변이 달렸습니다.');
	      } else {
	        alert('답변 달기가 실패했습니다.');
	      }
	    }
		
		// 삭제 버튼 이벤트
		$('.frm_remove').on('submit', function(ev){
			if(confirm('문의를 삭제할까요?') == false){
				ev.preventDefault();
				return;
			}
		})
		
		// 답글 작성 화면 표시/숨기기
		$('.btn_answer').on('click', function(){
			// 작성화면
			let write = $(this).closest('.list').next();  // write는 jQuery객체이다. (jQuery wrapper가 필요 없다.)
			// 작성화면이 blind를 가지고 있다 = 다른 작성화면이 열려 있다
			if(write.hasClass('blind')){
				
				$('.write').addClass('blind');  // 모든 작성화면을 닫자
				write.removeClass('blind');     // 현재 작성화면을 열자
			// 작성화면이 blind를 가지고 있지 않다 = 현재 작성화면이 열려 있다
			} else {
				write.addClass('blind');        // 현재 작성화면을 닫자
			}
			
		})
		
		$('.btn_reply').on('click', function(){
			// 작성화면
			let answer = $(this).closest('.list').next().next();  // write는 jQuery객체이다. (jQuery wrapper가 필요 없다.)
			// 작성화면이 blind를 가지고 있다 = 다른 작성화면이 열려 있다
			if(answer.hasClass('blind')){
				
				$('.answer').addClass('blind');  // 모든 작성화면을 닫자
				answer.removeClass('blind');     // 현재 작성화면을 열자
			// 작성화면이 blind를 가지고 있지 않다 = 현재 작성화면이 열려 있다
			} else {
				answer.addClass('blind');        // 현재 작성화면을 닫자
			}
			
		})
		
	})
</script>

<body>

	
	<div th:replace="~{layout/header::gnb}"></div>
	
	<div class="wrap">
		<th:block th:if="${session.loginId != 'admin'}">
			<a th:href="@{/manager/writeQna.html}" id="QnaList">작성하기</a>
		</th:block>
		<h1>1:1 문의</h1>
		<div th:utext="${pagination}" class="pagination"></div>
		<th:block th:if="${session.loginId == 'admin'}">
			<input type="button" value="답변한 글 목록" onclick="fnAnswerAdd">
			<input type="button" value="답변하지 않은 글 목록" onclick="fnAnswerEdit">
		</th:block>
		<th:block th:if="${qnaList == null}">
			<div>문의한 내역이 없습니다.</div>		
		</th:block>
		<th:block th:if="${qnaList != null}">
			<th:block th:each="qna,vs:${qnaList}">
				<hr>
				<th:block th:if="${session.loginId == qna.userDTO.userId}">
					<div class="qna list">
						<div>
							<span th:text="|${qna.userDTO.userId}님: &nbsp;|"></span>
							<span th:text="${qna.title}"></span>
							<br>
							<br>
							<div>
								
								<th:block th:if="${qna.qnaState == 1}"><span>!!!</span> </th:block>
								<br>
								<th:block th:if="${session.loginId != 'admin'}">
									<span><input type="button" value="답변 보기" class="btn_reply"> </span>
									<form class="frm_remove" method="post" th:action="@{/manager/remove.do}">
										<input type="hidden" name="qnaNo" th:value="${qna.qnaNo}">
										<button class="btn_remove">삭제</button>
									</form>
								</th:block>
								<th:block th:if="${session.loginId == 'admin'}">
									<th:block th:if="${qna.qnaState == 2}">
										<span><input type="button" value="답변 수정하기" class="btn_answer"> </span>
									</th:block>
									<th:block th:if="${qna.qnaState == 1}">
										<span><input type="button" value="답변 달기" class="btn_answer"> </span>
									</th:block>
								</th:block>
								<th:block th:if="${session.loginId != admin}"> 
									
								 </th:block> 
							</div>
						</div>
					</div>
				</th:block>
				<th:block th:if="${session.loginId == 'admin'}">
					<div class="qna list">
						<div>
							<span th:text="|${qna.userDTO.userId}님: &nbsp;|"></span>
							<span th:text="${qna.title}"></span>
							<br>
							<br>
							<div>
								<th:block th:if="${qna.qnaState == 1}"><span>!!!</span> </th:block>
								<br>
								<th:block th:if="${session.loginId != 'admin'}">
									<span><input type="button" value="답변 보기" class="btn_reply"> </span>
									<form class="frm_remove" method="post" th:action="@{/manager/remove.do}">
										<input type="hidden" name="qnaNo" th:value="${qna.qnaNo}">
										<button class="btn_remove">삭제</button>
									</form>
								</th:block>
								<th:block th:if="${session.loginId == 'admin'}" class="answerAdd">
									<th:block th:if="${qna.qnaState == 2}">
										<span><input type="button" value="답변 수정하기" class="btn_answer"> </span>
									</th:block>
									<th:block th:if="${qna.qnaState == 1}" class="answerEdit">
										<span><input type="button" value="답변 달기" class="btn_answer"> </span>
									</th:block>
								</th:block>
								<th:block th:if="${session.loginId != admin}"> 
									
								 </th:block> 
							</div>
						</div>
					</div>
				</th:block>
				<div class="write blind">
					<form method="post" th:action="@{/manager/answer.do}">
						<div>
							<label for="answer">답변</label>
							<br>
							<textarea rows="10" cols="50" id="answer" name="answer" placeholder="답변 내용을 입력해주세요" required="required" th:text="${qna.answer}"></textarea>
							<input type="hidden" name="qnaNo" th:value="${qna.qnaNo}">
							<input type="hidden" name="depth" th:value="${qna.depth + 1}">
							<input type="hidden" name="groupNo" th:value="${qna.groupNo}">
							<button>답변달기</button>
						</div>
					</form>
				</div>
				<div class="answer blind">
					<th:block th:if="${qna.qnaState == 2}">
						<span>관리자 : </span>
						<span th:text="${qna.answer}"></span>
						<br>
						<span th:text="${qna.answerAt}"></span>
					</th:block>
					<th:block th:if="${qna.qnaState == 1}">
						<span>아직 답변이 달리지 않았습니다.</span>
					</th:block>
				</div>
			</th:block>
		</th:block>
		<hr>
	</div>

<script>

	function fnAnswerAdd(){
		
		$.ajax({
			type: 'get',
			url: '/manager/answerAdd.do',
			dataType: 'json',
			success: function(resData){
				$('#wrap').empty();
				
			}
			
		})
		
	}
	
</script>
  	
  	

</body>
</html>