<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* 	조각이름 : head, 파라미터 : title */-->
<head th:fragment="head(title)">
<meta charset="UTF-8">
<title th:text="${title}"></title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<script th:src="@{/summernote-0.8.18-dist/summernote-lite.js}"></script>
<script th:src="@{/summernote-0.8.18-dist/lang/summernote-ko-KR.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" th:href="@{/summernote-0.8.18-dist/summernote-lite.css}">
<link rel="stylesheet" th:href="@{/css/init.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>

	<div class="header_section" th:fragment="gnb">
		<div class="title_menu_wrap">
			<div th:if="${#strings.isEmpty(session.loginId)}" class="user_menu">
				<span><a href="/user/login.html">로그인</a></span>
				<span><a href="/user/agree.html">회원가입</a></span>
			</div>
			<div th:unless="${#strings.isEmpty(session.loginId)}" class="user_menu">
				<span><a href="/user/confirm.html" th:text="${session.loginId}"></a>님 반갑습니다.</span>
				<span><a href="/user/logout">로그아웃</a></span>
			</div>
			<h1 class="title">
				<a href="/">Welcome To My Home</a>
			</h1>
		</div>
		<div class="gnb_wrap">		
			<div class="gnb">
			    <ul>
			        <li class="dropdown">
			        	<span>사원목록</span>
			        	<div class="dropdown_content">
			        		<div><a th:href="@{/emp/list_scroll.html}">무한스크롤</a></div>
			        		<div><a th:href="@{/emp/list_paging.html}">페이징</a></div>
			        		<div><a th:href="@{/emp/list_search.html}">검색</a></div>
			        	</div>
			        </li>
			        <li><a th:href="@{/bbs/list.html}">공지사항</a></li>
			        <li><a th:href="@{/blog/list.html}">도서</a></li>
			        <li><a th:href="@{/upload/list.html}">모임</a></li>
			        <li><a th:href="@{/product/list.html}">독서관찾기</a></li>
			        <li><a th:href="@{/chat.html}">1:1문의</a></li>
			    </ul>
			</div>
		</div>
	</div>

</body>
</html>