<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/verticalGnb::head('모임활동')}"></head>
<script>
	$(function(){
		$(document).ready(function(){
			var capasity = $('#capasity');
			var displayValue = $('#displayValue');
			
			capasity.on('input', function(){
				var value = capasity.val();
				displayValue.text(value);
			});
			var initialValue = capasity.val();
			displayValue.text(initialValue);
		})
		
	})
</script>
<body>

	<div class="gnb">
		<div th:replace="~{layout/verticalGnb::gnb}"></div>
	</div>

	<div class="create_meeting_wrap">
		<div class="create_meeting">
			<div>
				<section id="category" th:field="*{category}">
				</section>
			</div>
			<div>
				<input type="text" maxlength="30" class="meeting_name" name="meetingName" id="meetingName"><!-- 100바이트(30글자 제한) -->
			</div>
			<div>
				<input type="file" id="imageInput" name="image" class="meeting_image">
			</div>
			<div class="range_wrap">
				<input type="range" min="1" max="29" value="1" id="capasity" class="meeting_capasity" name="capasity">
				<p id="displayValue"></p>
			</div>
		</div>
	</div>

</body>
</html>