<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('환영합니다')}"></head>
<script th:inline="javascript">

	// 전역 변수 (각종 검사 통과 유무를 저장하는 변수)
	var verifyId = false;
	var verifyPw = false;
	var verifyRePw = false;
	var verifyName = false;
	var verifyMobile = false;
	var verifyEmail = false;
	
	// 함수 정의
	
	// 1. 아이디 검사(정규식 + 중복)
	function fnCheckId(){
		
		$('#userId').on('keyup', function(){
			
			// 입력한 아이디
			let id = $(this).val();
			
			// 정규식 검사 (5~40자, 소문자+숫자+하이픈(-)+밑줄(_) 사용 가능, 첫 글자는 소문자+숫자 사용 가능)
			let regId = /^[a-z0-9][a-z0-9-_]{4,39}$/;
			
		})
	}

</script>
<body>

</body>
</html>