@charset "UTF-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #333;
	font-family: 'Noto Sans KR', sans-serif;
}
html {
	background-color: #f7f9fa;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	text-align: center;
	border: 0;
}
table td {
	border: 0;	
}
.wrap {
	width: 960px;
	min-height: 700px; 
	margin: 0 auto;
	padding-top: 175px;
}